@import './style.css';

/* MODAL SELECAO */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow-y: scroll;
}

.modal-wrapper {
  position: relative;
  background-color: #fff;
  margin: 5rem 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 8px;
}

.modal-wrapper h2 {
  font-size: 1.2rem;
}

#closeModal {
  display: inline-block;
  position: absolute;
  top: 2.3rem;
  right: 1.5rem;
}

.call {
  font-size: .875rem;
  color: var(--dark-grey);
  line-height: 1.6;
  margin: 1rem 0;
}

.choose {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal h3 {
  font-size: .875rem;
}

.option {
  margin-top: 2rem;
  font-size: .875rem;
  color: var(--dark-grey);
  line-height: 1.75;
}

input[type="radio"] {
  appearance: none;
  font: inherit;
  color: rgba(0, 0, 0, .2);
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: '';
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset .7rem .7rem var(--decoration);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.inner-title span {
  font-size: .875rem;
  color: var(--decoration);
  font-weight: 500;
  margin-top: 8px;
  display: inline-block;
}

.option p {
  margin-bottom: 1rem;
}

.option span + span {
  position: relative;
  top: -6px;
  left: 5px;
  font-size: 1rem;
}

.option span[data-stand] {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000 !important;
}

.soldout {
  border: 1px solid rgba(0, 0, 0, .05);
}

.soldout h3,
.soldout span,
.soldout p {
  opacity: 50%;
}