:root {
  --font: 'Commissioner', sans-serif;
  --decoration: hsl(176, 50%, 47%);
  --dark-decoration: hsl(176, 72%, 28%);
  --dark-grey: hsl(0, 0%, 48%);
  --background: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  font-family: var(--font);
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: var(--font);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url('../images/image-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 290px;
  padding: 1.5rem;
  -moz-box-shadow:    inset 0 50px 50px -50px rgba(0,0,0,.9);
  -webkit-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.9);
  box-shadow:         inset 0 50px 50px -50px rgba(0,0,0,1);
}

section, main {
  background-color: #fff;
}

.content {
  display: absolute;
  margin: 0 1.5rem;
}

.title {
  position: relative;
  background-color: #fff;
  top: -3rem;
  margin-bottom: -1.5rem;
}

.logo-container {
  position: relative;
  display: inline-block;
  top: -26px;
  left: 41%;
  margin-bottom: -0.5rem;
}

.content > section {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  padding: 0 1.5rem 1.5rem;
}

.content h1 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.content p {
  font-size: .875rem;
  text-align: center;
  line-height: 1.7;
  color: var(--dark-grey);
  /* max-width: 328px; */
  margin: 0 auto 1.25rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

#back {
  display: inline-block;
  width: 75%;
  background-color: var(--decoration);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1.2rem 0;
  border-radius: 3rem;
  font-size: .9rem;
  letter-spacing: .6px;
  max-width: 257px;
}

#bookmark {
  border: none;
  background-color: transparent;
}

#deskBookmark {
  display: none;
}

#bookmark img.filter {
  filter: invert(36%) sepia(62%) saturate(763%) hue-rotate(130deg) brightness(89%) contrast(84%);
}

.data {
  padding: 2rem 1.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data div {
  display: grid;
  place-items: center;
}

.data div + div::before {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  background-color: rgba(0, 0, 0, .15);
  margin: 1.5rem 0;
}

.data h2 {
  font-size: 2rem;
  font-weight: 700;
}

.data span {
  font-size: .875rem;
  color: var(--dark-grey);
  margin-top: .5rem;
}

progress {
  display: block;
  width: 100%;
  height: 12px;
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
}

progress::-webkit-progress-bar {  
  background-color: rgba(0, 0, 0, .05);
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background-color: var(--decoration);
  border-radius: 1rem;
}

progress::-moz-progress-bar {
  background-color: var(--decoration);
  border-radius: 1rem;
}

.about {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  padding: 2rem 1.5rem 1rem;
  margin: 1.5rem 0 0;
}

.about h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.about > p {
  text-align: left;
}

.about section {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.sub-tile {
  font-size: .9rem;
}

.pledge {
  color: var(--decoration);
  font-weight: 700;
  font-size: .9rem;
  display: inline-block;
  margin: .5rem 0 1rem;
}

.description {
  text-align: left !important;
}

.amount span[data-stand] {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
}

.left {
  color: rgba(0, 0, 0, .4) !important;
  font-size: .875rem;
  position: relative;
  top: -5px;
  font-weight: 500;
  margin-left: 5px;
}

#reward1,
#reward2,
#reward3 {
  border: none;
  background-color: var(--decoration);
  color: #fff;
  width: 150px;
  padding: 1rem 0;
  border-radius: 30px;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .6;
  margin-top: 1rem;
}

.expired {
  border: 1px solid rgba(0, 0, 0, .1) !important;
}

.expired h3 {
  color: rgba(0, 0, 0, 0.4);
}

.expired .pledge {
  color: rgba(60, 180, 172, .5);
}

.expired .description {
  color: rgba(0, 0, 0, .4);
}

.expired .amount span {
  color: rgba(0, 0, 0, .5);
}

.expired #reward1,
.expired #reward2,
.expired #reward3 {
  background-color: rgba(0, 0, 0, .2);
}



@media (min-width: 900px) {
 #menuHam {
  display: none;
 }
 
 .nav {
  background-image: url('../images/image-hero-desktop.jpg');
  height: 42vh;
  background-position: center;
  background-size: cover;
  padding: 3rem 12%;
 }

 .content {
  margin: 0 auto;
  width: 55vw;
  max-width: 750px;
 }

 .title {
  top: -6rem;
  margin-bottom: -4rem;
 }

 .logo-container {
  margin: 0 auto -0.5rem;
  display: block;
  left: auto;
 }

 .logo-container img {
  margin: 0 auto;
 }

 .content > section {
  padding: 0 3rem 3rem;
 }

 .content h1 {
  font-size: 1.8rem;
  margin: 1rem 0 1rem;
 }

 .content p {
  font-size: 1rem;
 }

 .btns {
  margin: 2rem auto 0;
  max-width: 43.74rem;
  justify-content: space-between;
 }

 #back {
  max-width: 13.75rem;
  transition: .2s;
 }

 #back:hover {
  background-color: #157a74;
  cursor: pointer;
 }

 #bookmark {
  display: none;
 }

 #deskBookmark {
  display: flex;
  background: rgba(0, 0, 0, .08);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  padding-right: 1.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
  transition: .2s;
 }

 #deskBookmark:hover {
  opacity: .8;
 }

 .data {
  flex-direction: row;
  padding: 3rem !important;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .data div {
  flex: 1;
  display: block;
  padding-right: 1rem;
 }

 .data div + div::before {
  display: none;
 }

 .data div + div {
  border-left: 1px solid rgba(0, 0, 0, .15);
  padding-left: 5%;
 }

 .about {
  padding: 3rem 3rem 0;
}

.about h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.about p {
  margin-bottom: 2rem;
}

.about section {
  padding: 2rem;
}

.sub-title {
  display: inline-block;
}

.pledge {
  float: right;
  font-size: 1rem;
  margin-top: 0;
}

.description {
  margin: 2rem 0 1rem !important;
}

.sub-edition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 0;
}

#reward1,
#reward2,
#reward3  {
  margin-top: 0;
  transition: .2s;
}

#reward1:hover,
#reward2:hover,
#reward3:hover {
  background-color: #157a74;
  cursor: pointer;
}

.expired #reward1:hover,
.expired #reward2:hover,
.expired #reward3:hover {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, .2);
}

.amount span {
  font-size: 1rem;
}

.amount span[data-stand] {
  font-size: 2rem;
}
}